<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{_res_path}}html/common/common.css" />
    {{block 'css'}}
    {{/block}}
    <title>phi-plugin</title>
</head>

<body class="elem-{{element||elem||`hydro`}} {{displayMode || mode || `default`}}-mode  {{bodyClass}}" {{sys.scale}}>

    {{block 'main'}}{{/block}}

    <script>
        function adjustFontSize() {
            var a = document.getElementsByName('pvis')
            for (var i = 0; i < a.length; ++i) {

                const songName = a[i]

                if (!songName) continue


                var parentElement = songName.parentElement

                while (songName.scrollWidth > parentElement.offsetWidth || songName.scrollHeight > parentElement.offsetHeight) {
                    var style = window.getComputedStyle(songName, null).getPropertyValue('font-size')
                    var fontSize = parseFloat(style);
                    songName.style.fontSize = (fontSize - 1) + "px";
                }
            }
        }
        window.onload = adjustFontSize
        window.onresize = adjustFontSize
    </script>
</body>

</html>